awscli
langchain
xarray
matplotlib
requests
zarr
xarray
cftime
langchain_community
duckduckgo_search
scikit-learn
boto3==1.40.29
sentence-transformers 
langchain
langchain-core
langchain-text-splitters
langsmith
pydantic
SQLAlchemy
PyYAML
botocore==1.40.29
s3transfer
requests
xarray
s3fs==0.4.2
numpy
pandas
matplotlib
cftime
zarr
dask
netCDF4
polars
numpy
pandas
bottleneck
numexpr
cartopy
geopandas
seaborn
h5py
intake-esm